
body .container {
  padding: 40px;
  font-family: Helvetica;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row {
  margin-bottom: 10px;
}

.row div {
  display: inline-block;
  margin-right: 2px
}

.row:first-child {
  padding: 3px;
  background: #ccc;
}

h1 {
  text-decoration: underline;
}
